.label-opcional {
	margin-left: 5px;
	font-style: italic;
	opacity: 60%;
	font-size: 12px !important;
}

section.content-header {
	display: none;
}

.ui-datalist-data {
	height:150px;
	overflow:auto;
}

input[type="text"]:disabled {
	opacity: inherit;
}